.wrapper {
    --search-border-radius: 92px;
    --search-height-input: 46px;
    --search-spacer: 9px;
    --search-button-width: 52px;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    padding-left: 16px;
}

.inner {
    height: 100%;
    width: var(--default-layout-header-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search,
.search-result {
    width: 500px;
}

.search {
    height: var(--search-height-input);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    position: relative;

    input {
        font-size: 1.6rem;
        color: rgb(22, 24, 35);
        background: transparent;
        flex: 1;
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height-input) - (var(--search-spacer) * 2));
        background-color: rgba(22, 24, 35, 0.12);
    }
}

input:hover ~ .search-btn {
    color: rgb(22, 24, 35);
    background-color: rgba(22, 24, 35, 0.06);
}

.loading,
.clear {
    position: absolute;
    right: calc((var(--search-button-width)) + 16px);
    top: 50%;

    transform: translateY(-50%);
    color: rgb(22, 24, 35, 0.34);
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.06);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.search-title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    padding: 5px 12px;
    font-weight: 600;
}
