.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 100px;
    }
}

.menu-popper {
    padding: 8px 8px;
}

.menu-title {
    color: rgba(22, 24, 35, 0.8);
    background-color: transparent;
    font-size: 1.6rem;
    font-weight: 600;
    height: 36px;
    width: 100%;

    justify-content: flex-start;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.darkmode {
    width: 50px;
    height: 20px;
}
