.wrapper {
    display: flex;
    align-items: center;
    padding: 8px 16px;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
.search-content {
    background: rgb(255, 255, 255);

    border-radius: 8px;
    padding-top: 8px;
    box-sizing: border-box;
    padding-left: 30px;
}

.content {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: rgb(22, 24, 35);
    align-items: center;
}
